/* Título do painel */
h2 {
    color: #004A80;
    font-weight: bold;
}
#tabela-painel2 {
    border-collapse: separate;
    border-spacing: 1;
}

    /* Cabeçalho da tabela */
    #tabela-painel2 thead {
        background-color: #F37021;
        border-bottom: 2px solid #004A80;
    }
    #tabela-painel2 th {
        font-weight: 600;
        color: #004A80;
        padding: 0.75rem;
        border: none;
    }
/* Tabela geral */
#tabela-painel {
    border-collapse: separate;
    border-spacing: 0;
}

    /* Cabeçalho da tabela */
    #tabela-painel thead {
        background-color: #f8f9fa;
        border-bottom: 2px solid #004A80;
    }

    #tabela-painel th {
        font-weight: 600;
        color: #004A80;
        padding: 0.75rem;
        border: none;
    }

    /* Corpo da tabela */
    #tabela-painel td {
        padding: 0.75rem;
        vertical-align: middle;
        border: none;
    }

    /* Linhas alternadas */
    #tabela-painel tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    #tabela-painel tbody tr:nth-child(even) {
        background-color: #f2f6fa;
    }

    /* Hover nas linhas */
    #tabela-painel tbody tr:hover {
        background-color: #e9ecef !important;
    }

    /* Botão Atender */
    #tabela-painel .btn-primary {
        background-color: #004A80;
        border-color: #004A80;
    }

        #tabela-painel .btn-primary:hover {
            background-color: #0066aa;
            border-color: #0066aa;
        }
